.container {
  margin-top: 20px;
  border-top: 1px solid white;
  padding: 10px;
}
.title {
  font-size: 30px;
}
.commentContainer {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  align-items: flex-start;
  padding: 10px;
}

.userProfile {
  border-radius: 100%;
  object-fit: cover;
}

.textContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.textContainer textarea {
  width: 100%;
  height: 80px;
  padding: 15px;
  background-color: var(--bgSoft);
  border: none;
  border-radius: 5px;
  color: var(--textColor);
}

.textContainer button {
  background-color: var(--btn);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  color: var(--textColor);
}

.comments{
  display: flex;
  flex-direction: column;
}

.commentDisplayContainer{
  margin-top: 30px;
  display: flex;
  gap: 20px;
  margin-top: 20px;
  align-items: flex-start;
  border-radius: 10px;
  padding: 10px;
}

.commentBody{
  display: flex;
  flex-direction: column;
}

.commentBody h1{
  font-size: 20px;
}

.commentBody p{
  margin-top: 10px;
  font-size: 15px;
}